@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  overscroll-behavior: none;

  font-family: Inter, -apple-system, Source Code Pro, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sanss, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.gradient-background {
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
  background-size: 100%;
  animation: Gradient 15s ease infinite;
}

.code-text-title {
  font-family: Fira Sans, sans-serif;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}