@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind spacing;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, Source Code Pro, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sanss, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.code-text-title {
  font-family: Fira Sans;
}
