.my-b {
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-size: 400% 400%;
  -webkit-animation: color-change-2x 5s linear infinite alternate both;
  animation: color-change-2x 5s linear infinite alternate both;
}
.welcome-gif {
  object-fit: fill;
  object-position: center;
}
.welcome-img {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  object-position: center;
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #feac5e;
  }
  50%{
    background: #c779d0;
  }
  100% {
    background: #4bc0c8;
  }
}
@keyframes color-change-2x {
  0% {
    background: #feac5e;
  }
  50%{
    background: #c779d0;
  }
  100% {
    background: #4bc0c8;
  }
}